<div class="container-button-add">
    <button class="button-add" mat-raised-button color="primary" [routerLink]="['/product-add']">Adicionar
        Produto</button>
</div>
<table mat-table [dataSource]="products" class="mat-elevation-z8">
    <!-- Nome do Produto -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
    </ng-container>

    <!-- Preço do Produto -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Preço </th>
        <td mat-cell *matCellDef="let product">
            <ng-container *ngIf="isValidPrice(product.price)">
                {{product.price | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}
            </ng-container>
            <ng-container *ngIf="!isValidPrice(product.price)">
                R$ 0,00
            </ng-container>
        </td>
    </ng-container>

    <!-- Ações de Editar e Excluir -->
    <ng-container matColumnDef="acoes" class="container-cell">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let product">

            <div class="button-container">
                <button mat-fab color="primary" [routerLink]="['/product-edit/', product.id]"
                    aria-label="Example icon button with a delete icon">
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-fab color="warn" (click)="deleteProduct(product.id)"
                    aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'price', 'acoes']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'price', 'acoes'];"></tr>
</table>